<div class="header">

    <div class="logo">
        <a href="{{ site.url }}/">
            <img src="{{ site.baseurl }}/assets/img/logo3.svg" />
        </a>
    </div>

    <div class="page-menu">

        {% include nav.html %}

    </div>
<script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "I3H2xeDfv7");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>
</div>
