<style>
    .mainmenubtn {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 0.84em;
        text-align: center;
    }
    .mainmenubtn:hover {
        background-color: transparent;
        text-decoration: underline;
        }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-child {
        display: none;
        min-width: 200px;
        margin-top: 10px;
    }
    .dropdown-child a {
        padding: 20px;
        text-decoration: none;
        display: block;
        display: inline;
    }
    .dropdown-child a:hover {
        text-decoration: underline;
    }
    .dropdown:hover .dropdown-child {
        display: block;
    }
    </style>
<div class="toggle">
    <button ng-click="toggle_page_menu = !toggle_page_menu;toggle_map_controls = false;">
        <img src="{{ site.baseurl }}/assets/img/open-menu.svg" />
    </button>
</div>

<div class="content" ng-class="{active: toggle_page_menu}">

<!--
    <div class="header">

        <div class="logo">
            <img src="{{ site.baseurl }}/assets/img/logo2.svg" />
        </div>

    </div>
    -->

    <div class="menu">

      {% for item in site.data.menu %}

        <div class="item">
            <a href="{{ site.baseurl }}/{{ item.link }}"> {{ item.texto }} </a>
        </div> 
      {% endfor %}

      <div class="dropdown item">
        <button class="mainmenubtn">RELATÓRIOS</button>
        <div class="dropdown-child">
          <a href="/relatorio-2022">2022</a>
          <a href="/relatorio-2023">2023</a>
        </div>
    </div>
    </div>

    <div class="data-items">

      {% for post in site.posts | limit:4 %}

        <div class="item">
            
 
          <div class="thumb">
              <img src="{{ post.imagem_destaque }}" />
          </div>

            <div class="data">
                <div class="title">
                    <a href="{{ post.url }}"> {{ post.title }} </a>
                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</div>
           
<!-- widget de acessibilidade -->
<script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "YhKQ89IQ4e");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>            
