<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
<head>

    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Mapa do Jornalismo Local" />
    <meta property="og:description" content="Mapeamento busca veículos de comunicação periféricos nas 40 cidades de São Paulo para entender a cobertura local" />
    <meta property="og:type" content="site" />
    <meta property="og:url" content="https://mapadojornalismolocal.enoisconteudo.com.br/" />
    <meta property="og:image" content="https://mapadojornalismolocal.enoisconteudo.com.br/assets/img/destaque_mapa.png" />

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.1.1/iframeResizer.min.js'></script>
    <script type="text/javascript">

    								function loadIframe() {
    								setTimeout(function(){
    								iFrameResize({
    								// 'bodyOffset' | 'bodyScroll' | 'documentElementOffset' | 'documentElementScroll' | 'max' | 'min' | 'grow' | 'lowestElement' | 'taggedElement'
    								heightCalculationMethod: 'lowestElement',
    								log                     : false,                  // Enable console logging
    								enablePublicMethods     : true,                  // Enable methods within iframe hosted page
    								resizedCallback         : function(messageData){ // Callback fn when resize is received


    								},
    								messageCallback         : function(messageData){ // Callback fn when message is received


    								},
    								closedCallback         : function(id){ // Callback fn when iFrame is closed


    								}
    								});

    								}, 300);
    								}

    								function formComplete () {
    								alert('iframe form success');
    								}


    								</script>

</head>
<body>

  <div class="page-menu">

    {% include nav.html %}

  </div>

<iframe src="https://nucleojor.shinyapps.io/mapadojornalismo/" width="100%" onload="loadIframe()" frameborder="no" scrolling="auto"></iframe>

<div class="page-footer">

    <div class="banner">
        <img src="{{ site.baseurl }}/assets/img/regua_transparente_v2.png" />
    </div>

</div>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/app.js"></script>
</body>
</html>
