<!DOCTYPE html>
<html lang="pt-br" ng-app="app">
<head>

    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.subtitle }}" />
    <meta property="og:type" content="post" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="{{ page.imagem_destaque }}" />


</head>
<body>

<div class="page-news">

    <div class="container">

        {% include header.html %}

        <div class="wrap-content">

            <div class="news-details">

                <div class="title">
                    <h1>{{ page.title }}</h1>
                </div>

                <div class="description">
                    <p>{{ page.subtitle }}</p>
                </div>

                <div class="author">{{ page.autores }} <br />
                {{ page.data }}</div>

                <div class="socials">

                    <div class="title">COMPARTILHE</div>

                    <div class="wrap">

                        <div class="social">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}&quote={{ page.title }}" target="_blank">
                                <img src="{{ site.baseurl }}/assets/img/facebook.svg" />
                            </a>
                        </div>

                        <div class="social">
                            <a href="https://twitter.com/intent/tweet?source={{ page.url }}&text={{ page.title }}:%20{{ page.url }}">
                                <img src="{{ site.baseurl }}/assets/img/twitter.svg" />
                            </a>
                        </div>

                        <div class="social">
                            <a type="button" onclick="Copy();" />
                                <img src="{{ site.baseurl }}/assets/img/share.svg" />
                                <span style="color:#fff"> <small>Copiar Link</small></span>
                            </a>
                        </div>
                        <textarea class="link-texto" style="opacity:0" id="url" rows="1" cols="30"></textarea>

                    </div>

                </div>

            </div>

            <div class="news-thumb">
                <img src="{{ page.imagem_destaque }}" />
            </div>

            <div class="news-post">

                {{content}}

            </div>

        </div>

        <div class="page-footer">

            <div class="banner">
                <img src="{{ site.baseurl }}/assets/img/regua_transparente_v2.png" />
            </div>

        </div>

    </div>

</div>

<script>

function Copy() {
  var Url = document.getElementById("url");
  Url.innerHTML = window.location.href;
  console.log(Url.innerHTML)
  Url.select();
  document.execCommand("copy");
  console.log('Link Copiado!');
}
</script>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/angular.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/app.js"></script>

</body>
</html>
